body {
  /* background image source : https://pixabay.com/photos/milky-way-stars-night-sky-night-2695569/ */
  background-image: url("https://pixabay.com/get/g5bc5052e3ce82046c701192b396bcd3855eedea1c96c28ce14143c708d0ec856ce54271c3b1f4d2a5c25651944d1e25d1f40a6a06a9fa353b0a44337faf1e52986b18749a214339f6005a7ba5fc86ac5_1920.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
